.base03 {
    color: #002b36
}

.base02 {
    color: #073642
}

.base01 {
    color: #586e75
}

.base00 {
    color: #657b83
}

.base0 {
    color: #839496
}

.base1 {
    color: #93a1a1
}

.base2 {
    color: #eee8d5
}

.base3 {
    color: #fdf6e3
}

.yellow {
    color: #b58900
}

.orange {
    color: #cb4b16
}

.red {
    color: #dc322f
}

.magenta {
    color: #d33682
}

.violet {
    color: #6c71c4
}

.blue {
    color: #268bd2
}

.cyan {
    color: #2aa198
}

.green {
    color: #859900
}

.base03bg {
    background-color: #002b36
}

.base02bg {
    background-color: #073642
}

.base01bg {
    background-color: #586e75
}

.base00bg {
    background-color: #657b83
}

.base0bg {
    background-color: #839496
}

.base1bg {
    background-color: #93a1a1
}

.base2bg {
    background-color: #eee8d5
}

.base3bg {
    background-color: #fdf6e3
}

.yellowbg {
    background-color: #b58900
}

.orangebg {
    background-color: #cb4b16
}

.redbg {
    background-color: #dc322f
}

.magentabg {
    background-color: #d33682
}

.violetbg {
    background-color: #6c71c4
}

.bluebg {
    background-color: #268bd2
}

.cyanbg {
    background-color: #2aa198
}

.greenbg {
    background-color: #859900
}
