doctype html
html
  head
    link(href="/css/bootstrap.css" rel="stylesheet")
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet")
    link(href="/css/solarized_dark.css" rel="stylesheet")
    link(href="/css/main.css" rel="stylesheet")
    
  body
    
    != yield
  
  foot
  
    p An element
