doctype html
html
  head
    link(href="/css/bootstrap.css" rel="stylesheet")
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet")
    link(href="/css/solarized_dark.css" rel="stylesheet")
    link(href="/css/main.css" rel="stylesheet")
    
    title HyperChicken Interactive
    
  body
    
    br
    br
    
    ul.nav.nav-pills.border
      li
        a(href="/").btn-lg
          i.fa.fa-home  Home
      li
        p &nbsp;&nbsp;&nbsp;&nbsp;
      li
        a(href="/about.html").btn-lg
          i.fa.fa-question-circle  About
      li
        p &nbsp;&nbsp;&nbsp;&nbsp;
      li
        a(href="/developers.html").btn-lg
          i.fa.fa-user  Developers
      li
        p &nbsp;&nbsp;&nbsp;&nbsp;
      li
        a(href="/projects.html").btn-lg                                                                                                     
          i.fa.fa-pencil  Projects
    
    br
    br
    
    != yield
  
    br
    br
  
  foot
    
    div.border
      p.green &copy;2016 HyperChicken Interactive
