doctype html
html
  head
    link(rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css" integrity="sha384-XXXXXXXX" crossorigin="anonymous")
    link(href="/css/solarized_dark.css" rel="stylesheet")
    
  body
    
    != yield
  
  foot
  
    p An element
