doctype html
html
  head
    link(href="/css/bootstrap.css" rel="stylesheet")
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet")
    link(href="/css/solarized_dark.css" rel="stylesheet")
    link(href="/css/main.css" rel="stylesheet")
    
    title HyperChicken Interactive
    
  body
    
    br
    br
    
    ul.nav.nav-pills.border
      li
        a(href="/").btn-lg
          i.fa.fa-home.fa-lg#spinHover  Home
      li
        p &nbsp;&nbsp;&nbsp;&nbsp;
      li
        a(href="/about.html").btn-lg
          i.fa.fa-question-circle.fa-lg#spinHover  About
      li
        p &nbsp;&nbsp;&nbsp;&nbsp;
      li
        a(href="/developers.html").btn-lg
          i.fa.fa-github-square.fa-lg#spinHover  Developers
      li
        p &nbsp;&nbsp;&nbsp;&nbsp;
      li
        a(href="/projects.html").btn-lg                                                                                                     
          i.fa.fa-pencil.fa-lg#spinHover  Projects
      li
        p &nbsp;&nbsp;&nbsp;&nbsp;
      li
        a(href="/camp.html").btn-lg
          i.fa.fa-apple.fa-lg#spinHover  Camp
    
    br
    br
    
    != yield
  
    br
    br
  
  foot
    
    div.border
      p.green &copy;2016 HyperChicken LLC
  
  script(src="https://code.jquery.com/jquery-2.2.1.min.js")
  script(src="/js/thecode.js")
