h1 Camps Offered at Skilstak

br

div.container
  div.row
    div.col-xs-12
      div.border
        h3.green iOS App Development
        h4.green In Swift
        br
        p.orange.left Prerequisites: 
          span.orange.left One semester of Skilstak&trade; Fundamentals
        br
        p.base1 This camp is an introduction to the world iOS development, Swift 2.0, Xcode and Storyboards. The camp will last 5 days and be hosted at SkilStak the week of June 27th from 1:00 PM to 4:00 PM. Your child will learn about Swift 2.0, Apple's new programming language for apps and the Xcode program. By the end of the course, your child will have a Magic Eightball app for iOS capable of randomly selecting an answer from a list and receiving input.
