h1 Camps Offered at Skilstak

br
br
br

div.container
  div.row
    div.col-xs-12.col-sm-6
      div.border
        h3.green Swift Basics
        br
        p This is supposed to be a description. A real one does not exist yet.
