h1 Camps Offered at Skilstak

br

div.container
  div.row
    div.col-xs-12
      div.border
        h3.green App Engineering
        h4.green For Apple's iOS in Swift 2
        br
        p.base1 Prerequisites: One semester of Skilstak&trade; Fundamentals
        p.base1 ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
        p.base1 Date: June 27-30th
        p.base1 Time: 1:00-4:00 PM EDT
        p.base1 Cost: $400 per student
        p.base1 Contact: 
          a(href="mailto:camp@hyperchicken.co&subject=iOS%20App%20Development%20Camp%20Offering").yellow camp@hyperchicken.co
        p.base1 ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
        br
        p.base1 This camp is an introduction to the world iOS development, Swift 2.0, Xcode and Storyboards. The camp will last 4 days and be hosted at SkilStak the week of June 27th from 1:00 PM to 4:00 PM. Your child will learn about Swift 2.0, Apple's new programming language for apps and the Xcode program. By the end of the course, your child will have a Magic Eightball app for iOS capable of randomly selecting an answer from a list and receiving input.
        br
        h5.green Notices
        ul
          li
            p.base1.left Water bottles will be provided and snacks can be brought in.
          li
            p.base1.left To continue post-camp development in Swift, you will need to have a Macintosh running OS X 10.8 or above with Xcode 7 on it, which can be found on the Mac App store.
          li
            p.base1.left The app can be loaded onto a physical device running iOS. Your child’s app can be installed on your iPhone, iPad or iPod Touch if you would like to bring it on the last day (June 30th) of camp.
