h1 Camps Offered at Skilstak

div.container
  div.row
    div.col-xs-12
      div.border
        h3 Swift Basics
        br
        p This is supposed to be a description. A real one does not exist yet.
