h1 Camps Offered at Skilstak

br

div.container
  div.row
    div.col-xs-12.col-sm-6
      div.border
        h3.green Swift Basics
        br
        p Difficulty: 
          i.fa.fa-star &nbsp;
          i.fa.fa-star &nbsp;
          i.fa.fa-star &nbsp;
          i.fa.fa-star-o &nbsp;
          i.fa.fa-star-o
        p.magenta.left Prerequisites: One semester of Skilstak&trade; Fundamentals
        p.magenta.left This is supposed to be a description. A real one does not exist yet.
