h1 Camps Offered at Skilstak

br

div.container
  div.row
    div.col-xs-12.col-sm-6
      div.border
        h3.green App Development In Swift (Basics)
        br
        p.red.left Difficulty: 
          i.fa.fa-star.yellow &nbsp;
          i.fa.fa-star.yellow &nbsp;
          i.fa.fa-star-o.yellow &nbsp;
          i.fa.fa-star-o.yellow &nbsp;
          i.fa.fa-star-o.yellow
        p.red.left Prerequisites: 
          span.yellow.left One semester of Skilstak&trade; Fundamentals
        br
        p.red Learn how to create basic apps, even ones that you can place on your phone and use! You will get a flash drive to download the app on and your development resources. NOTE: This is Swift App Development, so it will only support apple devices. The computers at the camp are Macs, so it will have the tools for a simulation of a phone to test the app on.
