h1 All HyperChicken Interactive Developers

br

div.container
  div.row
    div.col-md-3
      div.border
        p Github picture (Square)
        br
        p @TheirGithubUsername
    div.col-md-3
      div.border
        p This is some text!
    div.col-md-3
      div.border
        p This is some text!
    div.col-md-3
      div.border
        p This is some text!
