h1 All HyperChicken Interactive Developers

br

div.container
  div.row
    div.col-md-3
      div(onclick="window.open('http://github.com/whitman-colm', '_self');").border.center
        img(src="https://avatars2.githubusercontent.com/u/7927596?v=3&s=400" alt="whitman-colm" height="128" width="128")
        br
        br
        p @whitman-colm
    div.col-md-3
      div(onclick="window.open('http://github.com/tslnc04', '_self');").border.center
        img(src="https://avatars2.githubusercontent.com/u/8128358?v=3&s=460" alt="CoderPythonX" height="128" width="128")
        br
        br
        p @CoderPythonX
    div.col-md-3
      div(onclick="window.open('http://github.com/muchanem', '_self');").border.center
        img(src="https://avatars2.githubusercontent.com/u/8000756?v=3&s=400" alt="muchanem" height="128" width="128")
        br
        br
        p @muchanem
    div.col-md-3
      div(onclick="window.open('http://github.com/', '_self');").border.center
        img(src="https://avatars2.githubusercontent.com/u/17464479?v=3&s=200" alt="ThisIsABlankSpot" height="128" width="128")
        br
        br
        p @ThisIsABlankSpot
