h1 All HyperChicken Interactive Developers

br

div.container
  div.row
    div.col-xs-12.col-sm-6
      div(onclick="window.open('http://github.com/whitman-colm', '_self');").border.center
        img(src="https://avatars2.githubusercontent.com/u/7927596?v=3&s=400" alt="whitman-colm" height="128" width="128")
        br
        br
        p @whitman-colm
  div.row
    div.col-xs-12.col-sm-6
      div(onclick="window.open('http://github.com/tslnc04', '_self');").border.center
        img(src="https://avatars2.githubusercontent.com/u/8128358?v=3&s=460" alt="CoderPythonX" height="128" width="128")
        br
        br
        p @CoderPythonX
