h1 All HyperChicken Interactive Developers

br

div.container
  div.row
    div.col-md-4
      div.border
        p Github picture (Square)
        br
        p @whitman-colm
    div.col-md-4
      div.border
        p Github picture (Square)
        br
        p @CoderPythonX
    div.col-md-4
      div.border
        p Github picture (Square)
        br
        p @muchanem
