@import "shadows.styl"

*
    margin 0
    padding 0
    font-family "Roboto", sans-serif

body
    text-align center
    background-color #CFD8DC
    // background-color #FAFAFA

// box-shadow 0.1em 0.1em 0.375em 0.3em #BDBDBD

#chart
    width 80%
    height 25em
    margin 0 auto

#solveChart
    width 80%
    height 25em
    margin 0 auto

.shadow
    z-depth-classes()
